* {
    background-color: #1d1d1d;
    text-decoration: none !important;
    transition: all .2s;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 15px;
    width: 100%;
    overflow: hidden;
}

.header .logo {
    color: #fffffff1;
    font-size: 35px;
    background: none;
}

.header .nav-tool {
    font-size: 20px;
    color: #ffffffce;
}

.tabs {
    display: flex;
    align-items: center;
    gap: 10px;

}

.content {
    width: 100%;
    overflow: hidden;
    padding: 5px 10px;
    padding-bottom: 0 !important;
    background-color: #1d1d1d;
}

.content .tabs {
    position: relative;
    padding-bottom: 15px;
}

.content .tabs .tab-btn {
    font-size: 25px;
    color: #ffffffce;
    font-weight: 600;
    border: none;
    background-color: #1d1d1d;
    padding: 3px;
}

.content .tabs .tab-btn.active {
    border-bottom: 4px #fffdfdc9 solid;
}

.content .star {
    font-size: 25px;
    color: #000000;
    text-align: center;
}



.content .search-box {
    position: relative;
    align-items: center;
    display: flex;
}

.content .search-box .search-icon {
    position: absolute;
    padding: 3px 10px;
    margin-top: 1px;
    margin-left: 4px;
    color: #ffffffd5;
    background-color: #000000;
    font-size: 18px;
}

.content .search-box input {
    box-shadow: none;
    background-color: #000000;
    color: #ffffffd5;
    padding-left: 45px;
    border: 2px solid #252525;
}

.content .nav-bar {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffffce;
}


.content .nav-bar-card {
    height: 100vh;
    background-color: #1d1d1d;
    border: 2px solid #252525;
    padding: 0;
    margin: 0;
}

.content .nav-bar-card .nav-bar .nav-list {
    position: relative;
    /* display: block; */
    border-top: 2px solid #252525;

}

.content .nav-bar-card .nav-bar .nav-list .nav-link {
    margin: 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.content .nav-bar-card .nav-bar .nav-list .nav-link.active {
    background-color: #252525;
}

.content .nav-bar-card .nav-bar .nav-list .nav-link>span {
    display: flex;
    padding: 5px !important;
    align-items: center;
    gap: 20px;
    color: #fff;
    background: none;
}

.content .nav-bar-card .nav-bar .nav-list .nav-link>span>i {
    color: #ffffffce;
    font-size: 20px;
    background: none;
}

.content .nav-bar-card .nav-bar .nav-list .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    height: 0;
    overflow: hidden;
}

.content .nav-bar-card .nav-bar .nav-list .navbar-nav .navbar-nav-list {
    position: relative;
    transition: ease-in-out .3s;
    overflow: hidden;
}


.content .nav-bar-card .nav-bar .nav-list .navbar-nav .navbar-nav-list .navbar-nav-link {
    margin: 0;
    padding: 10px;
    padding-left: 40px;
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.content .nav-bar-card .nav-bar .nav-list .navbar-nav .navbar-nav-list .navbar-nav-link.active {
    background-color: #252525;
}

.content .nav-bar-card .nav-bar .nav-list .navbar-nav .navbar-nav-list .navbar-nav-link>span {
    display: flex;
    align-items: center;
    gap: 20px;
    background: none;
    color: #fff;
}

.content .nav-bar-card .nav-bar .nav-list .navbar-nav .navbar-nav-list .navbar-nav-link>span>i {
    color: #ffffffce;
    background: none;
    font-size: 20px;
}

.content .web-content {
    background-color: #1d1d1d;
    position: relative;
    height: 100vh;
    width: 100%;
    border: 2px solid #252525;
    overflow: hidden;
    overflow-y: auto;
}


/* Style the scrollbar */
.web-content::-webkit-scrollbar {
    width: 5px;
}

.web-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.web-content::-webkit-scrollbar-thumb {
    background-color: #000000;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Optional: rounded corners for the scrollbar thumb */
}

/* For Firefox */
.web-content {
    scrollbar-width: thin;
    scrollbar-color: #000000 #f1f1f1;
    /* Color of the thumb and track */
}

.content .web-content .voice-card {
    background-color: #141414;
    position: relative;

}

.content .web-content .voice-card .wave-icon {
    font-size: 20px;
    color: #ccc8c8;
    text-align: center;
    background-color: #141414;
    padding: 35px;
}

.content .web-content .voice-card .voice-card-content .voice-card-content-det {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background-color: #141414;
}

.content .web-content .voice-card .voice-card-content .voice-card-content-det .voice-det {
    display: flex;
    gap: 5px;
    color: #f1f1f1;
    background: none;
}

.content .web-content .voice-card .voice-card-content .voice-card-content-det .voice-det span {
    background: none;
}

.content .web-content .voice-card .voice-card-content .voice-card-content-det .star-icon {
    background: none;
}

.content .web-content .voice-card .voice-card-content .voice-card-content-det .star-icon i {
    font-size: 20px;
    background: none;
    color: #000000;
}